<p id="notice"><%= notice %></p>


<div class="project-well text-left">
  <h2>Autonomous Driving</h2>
  <p hidden="true">
    While being employed at the Forschungszentrum Informatik in Karlsruhe I Worked in the autonomous driving research department.
    The main projects I was working were laser mapping of environment and binding to geographical maps,
    traffic lane detection using DeepLearning.

    For lane detection I have worked on a team where we used the <em>Caffe</em> deep learning framework and we experimented
    with published network structures on our own dataset and built our own CNNs for the problem. Our solution was
    primarily programmed in Python

    The other project regarding laser mapping were concerned with using laser data to create maps and evaluate precision
    of GPS data, geographical satellite data and other sensors.

  </p>
</div>


<div class="project-well text-left">
  <h2>Robotics</h2>
  <p hidden="true">
    While being employed at the Forschungszentrum Informatik in Karlsruhe I worked on a project concerned with programming
    a house service robot to detect people based on faces and approach/interact with people. My work was primarily in the
    team trusted with computer vision for which we used the Kinect camera. The bulk of the programming was done in C++
     using the ROS framework and a bit of OpenCV. For the detection of faces we used the simple Viola-Jones detector.


  </p>
</div>

<div class="project-well text-left">
  <h2>MediaEval Challenge</h2>
  <p hidden="true">
      While working at the Computer Vision for Human-Computer Interaction Lab I was able to participate in the MediaEval
    challenge in the area of emotion and violence classification in movies. This was an excellent learning experience for me in the field
    of machine learning because we experimented with a lot of different classifiers and features to get the result.
    We used improved dense trajectories, loudness, features extracted by a deep neural network, GIST for features and
    mostly SVMs and Logistical Regression as classifiers. For the end result we fused the classifiers with weights which
    we derived by gradient descent. We wrote a paper on the subject.

    The primary frameworks that I have used were: LibLinear, Caffe scikit-learn. Some of the programming was also
    done in MatLab.
  </p>

</div>

<div class="project-well text-left">
  <h2>Citibike Data Analytics</h2>
  <p hidden="true">
    Currently doing data analytics on Citibike data from New York City at IBM R&D. For the data analysis I am using
    Python with Spark, partly because the dataset is too large to fit into memory I have chosen Spark but for nice
    simple statistics and plotting I was using Pandas, Seaborn and SciPy. Currently I am working on a predictor
    to predict the expected time of the arrival of a bike in case of waiting times.
  </p>
</div>

<div class="project-well text-left">
  <h2>This Webpage!</h2>
  <p hidden="true">
    This web page is developed in Ruby on Rails.
  </p>
</div>




    <% @projects.each do |project| %>

    <% end %>

